name: Publish Docker image

on: [push, workflow_dispatch]

jobs:
  push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: docker/login-action@v3
        with:
          username: anillc
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: |
          nix build . -L --print-out-paths --no-link | xargs docker load -i
          docker image tag nixos:latest docker.io/anillc/nixos:latest
          docker image push docker.io/anillc/nixos:latest
